<!DOCTYPE html>
<html>
<head>
	<title>Add Book and Review</title>
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">

</head>
<body>
<div class="left_header">
<a href="/books">Home</a>&nbsp;|&nbsp;<a href="/clear">Logout</a></div>
	<h3>Add a New Book and Review</h3><br>
	<form action="/books/add_book" id="book_form" method="POST">
		Book Title: <textarea type="text" name="title" id="book_form" rows="1" cols="50" autofocus></textarea><br>
		Author:<textarea type="text" name="author" id="book_form" rows="1" cols="50"></textarea><br>
		Review:<textarea type="text" name="review" id="book_form" rows="4" cols="50"></textarea><br>
		Rating:	<select name="rating" form="book_form">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
		<input type="submit" value="submit"><br>
	</form>
</body>
</html>